[2013-11-17 17:20] Khady opened #1 "Error with redis: redis/redis.sock. No such file or directory."
I try to launch onitu on OSX. But redis can't find the file `redis/redis.sock`. Onitu loop on this error.

I tried to add a sleep in the referee and the loader to be sure that redis have enough time to start before onitu, but it doesn't fix the problem.

[code]

[2013-11-18 19:23] k4nar commented on #1
What version of Redis do you have ?

Does `touch redis/redis.sock` before launching Onitu resolve the issue ?

[2013-11-19 04:18] Khady commented on #1
[code]

[code]

[2013-11-19 12:05] k4nar commented on #1
Okay, let's try to launch Redis by hand : `redis-server redis/redis.conf`. Then wait a few seconds, kill it and read `redis/redis.log`.

[2013-11-19 15:11] Khady commented on #1
fix in 3dd1deea7

[2013-11-19 15:11] #1 closed, assigned to nobody

[2013-11-19 19:27] k4nar commented on #1
Ok, it seems that the issue was that the 'redis-server' executable wasn't found without the $PATH env variable.

[2013-11-22 15:27] k4nar opened #2 "Driver UbuntuOne Server"
We should have a basic driver for the UbuntuOne server.

Work is in progress by @Scylardor . The REST API don't support bulk-download, so it's  not compatible with the current Onitu API. We are trying to use the internal API of UbuntuOne's clients, but the code is quite cryptic.

If anyone is willing to help @Scylardor to understand the code (Python + Twisted + Protobuf + DBus) please comment this

[2013-11-22 15:31] k4nar opened #3 "Driver Dropbox"
We should have a basic driver for Dropbox. @Akiat started working on it with, then @manny42 agreed to be in charge.

@manny42 : Did you make any progress ?

[2013-11-22 15:33] k4nar opened #4 "Add a `setup.py`"
http://pythonhosted.org/an_example_pypi_project/setuptools.html

Onitu should be uploaded to Pypi at the release of the 0.1.

[2013-11-22 15:44] entwanne opened #5 "Error with redis/ZMQ (invalid port)"
The problem happens when I try to launch Onitu with two local drivers, and one client. I use Python 2.7.5.

When I manually write in a file of the client software, the file is well notified and the write event is relayed to the client driver.
Then, a `plug.update_file` is done by the driver (`onitu/drivers/client/client.py`), but it throws an exception:

[code]

We had noticed that a port was set

[2013-11-22 15:49] k4nar commented on #5
I don't think it's any kind of race condition as it happens after everything has been started. It's definitively related to the client driver as it never happens with any other driver. I will investigate.

[2013-11-22 16:04] k4nar commented on #5
Ok, I reproduce.

[2013-11-22 16:29] #5 closed, assigned to k4nar

[2013-11-22 18:54] Scylardor commented on #2
Well let's do a quick summary of what has been done so far :
- U1's REST API doesn't support partial upload nor notifications upon changes on remote files because developers don't want to implement any non-standard feature in it, so we can't use it
- while the DBus API provides a lot of functionality, it seems to be rather useful for monitoring purposes (i.e. get all the current down/uploads, retr

[2013-11-23 16:06] k4nar commented on #2
I removed it from the 0.1 Milestone, as @Scylardor would like to have more time to work on this.

[2013-12-24 02:29] k4nar commented on #3
Any news on that @manny42 ?

[2013-12-25 00:09] manny42 commented on #3
So the news are, I have trouble on making the request, I keep getting 403, so I try to fix this issue.

[2013-12-25 00:13] k4nar commented on #3
It might be a problem with your OAuth token, check you credentials.

[2013-12-25 00:26] manny42 commented on #3
Credential are okay but I think it's the way I send them, I always run a check for credential first

[2013-12-25 00:35] k4nar commented on #3
Do you use the last version of the Dropbox API ? There is a fresh release : https://pypi.python.org/pypi/dropbox

[2013-12-25 00:42] manny42 commented on #3
I'll check this, but not on christmas day! Merry Christmas!

[2013-12-28 09:58] manny42 commented on #3
It's done, the chunk download is functional! I'll be working on the interface to the plug on the next days

[2014-01-19 00:57] k4nar commented on #3
Any issue with the Plug ?

[2014-02-14 22:33] k4nar opened #6 "Events sent for failed transfers"
Sometimes I've got this error on `test_crash_rep2_to_rep1` :

[code]

Basically, rep1 is sending an event about crash_2, but it should be aborted because a transfer is recorded.

[2014-02-14 22:34] k4nar opened #7 "dealer.connect hangs"
Sometimes a transfer doesn't complete because `dealer.connect()` hangs. I really have no idea of where this issue come from. It might be related to ZeroMQ, even if can't find any issue on that.

[2014-02-15 02:12] k4nar commented on #6
The situation is better (I got one fail over 277 runs of `test_crash_rep1_to_rep2`), but we still have a problem when Redis got killed by the test before the key for the transfer is stored to `appendonly.aof`. This is expected as Redis should not be used as a persistent storage.
However, I'll try to find a workaround.

[2014-02-15 03:01] #6 closed, assigned to k4nar

[2014-02-15 14:39] k4nar commented on #7
I tried to reproduce the bug with a simple testcase, without success :

[code]

But sometimes, the `connect` takes a few seconds, so it might be the source of the issue (the TimeoutError is triggered because `connect` takes more that 5s).

[2014-02-16 14:32] k4nar opened #8 "AttributeError in Metadata"
I just got this traceback:

[code]

I had the three files `foo`, `toto` and `lol` in both drivers, but no `appendonly.aof`. I think @Akiat had the same issue once.

[2014-02-16 14:43] k4nar commented on #8
This is the Traceback @Akiat had :

[code]

[2014-02-16 15:09] #8 closed, assigned to k4nar

[2014-02-16 17:03] k4nar opened #9 "Corruption in test_small_copy"
I just got this fail in `test_small_copy` :

[code]

The event for 'simple' is triggered twice. No idea why, and I never saw this before.

[2014-02-17 23:05] k4nar commented on #9
Again, with debug :

[code]

[2014-02-19 22:56] k4nar opened #10 "Onitu hanging without internet connection"
It's crazy but Onitu don't start properly and then blocks if started without any internet connection. It doesn't happen if no entries are specified.

[2014-02-20 16:22] k4nar commented on #10
Ok, this is related to circus : https://github.com/mozilla-services/circus/issues/731

[2014-02-20 17:41] k4nar commented on #7
After many, many tests, the delay never exceeds a few seconds (5-7), so I think this could be fixed by increasing some timeouts. I'm working on it.

[2014-02-21 23:59] k4nar commented on #9
I found the origin of the bug. This is happening if two threads are calling `Plug.update_file` for a new file at the same moment.
The bug happen more often since https://github.com/onitu/onitu/commit/50f1f7e6e5f6eebc6a67fa8b8c28cd39ae8a19b8. This is a side-effect of the fix of the issue #8.

I have a quick fix to return to the situation before https://github.com/onitu/onitu/commit/50f1f7e6e5f6eebc

[2014-02-22 01:59] k4nar commented on #9
The quick fix wasn't enough, so I made a proper fix using Redis' transactions. It went ok ~3000 times.

[2014-02-22 02:16] #9 closed, assigned to nobody

[2014-02-22 02:20] k4nar commented on #7
Ok, so the situation is better, but I'm waiting for #10 to be solved before closing it. When I run the tests a lot of times, sometimes I get a TimeoutError and then I loose my Internet connection. I don't know what's happening, but I want to know if this is linked to this issue or not.

[2014-02-23 21:29] k4nar commented on #7
I just got a timeout on `test_empty_file`, over more than 300 hundred runs of the test suite. In the same run, the next tests went ok (no chain-reaction).
I really don't get it, Onitu is not under heavy charge during `test_empty_file`…

[2014-02-23 21:36] k4nar opened #11 "Fail in test_crash on Travis"
We have a lot of builds which fail in `test_crash_*`, essentially (uniquely ?) with Python 3.
Here is a build, with debugging : https://travis-ci.org/onitu/onitu/jobs/19460018

[2014-02-23 21:53] #11 closed, assigned to nobody

[2014-02-24 13:37] k4nar opened #12 "LocalStorage should write to a temporary file"
After some thoughts on "what could go wrong", I think that LocalStorage should not overwrite an existing file, but write a temporary file and then move it. This would fix a lot of corrupting issues (eg: A transfer starts, Onitu is stopped, the file is edited).

[2014-02-24 13:38] k4nar commented on #3
So, were are we ?

[2014-02-27 00:00] wapiflapi opened #13 "crash on first launch"
When first started onitu crashes because it can find some plug options. This might be do to them not being corectly commited to the redis DB.

How to reproduce:

[code]

output (notice the log is printed twice):

[code]

[2014-02-27 03:19] k4nar commented on #13
What's your `setup.json` ? I bet that's the issue here :) .

[2014-02-27 04:00] wapiflapi commented on #13
Default one, and I didn't change it between the first run (that fails) and the second one (working).
I supose if the setup was the problem it wouldn't work the second time would it?

[2014-02-27 15:09] k4nar commented on #13
Okay so apparently you were using your own instance of Redis or something. I don't reckon this is directly linked to Onitu.

[2014-02-27 15:09] #13 closed, assigned to nobody

[2014-02-27 16:35] k4nar commented on #10
We found the bug, it should be fixed tonight.

[2014-02-27 21:46] k4nar opened #14 "test_big_copy fails if he's launched first"
If `test_big_copy` is launched first (or alone) it fails quite often (~1/20-30).

Here is an output :

[code]

[2014-03-04 14:59] k4nar opened #15 "Remove Watchdog"
Due to a lot of small issues with Watchdog (for example, we can't listen to a `IN_CLOSE_WRITE` on Linux), we should remove Watchdog and use system-dependent solution for each platform.

We should list here the solution for each platform :
- Linux: Inotify with [pyinotify](https://github.com/seb-m/pyinotify)
- Mac: FSEvents with [MacFSEvents](https://pypi.python.org/pypi/MacFSEvents).
- BSD: [libin

[2014-03-04 14:59] k4nar commented on #14
I hope #15 will fix it.

[2014-03-04 21:25] k4nar commented on #15
For mac, we can use [MacFSEvents](https://pypi.python.org/pypi/MacFSEvents).

[2014-03-04 21:49] Khady commented on #15
Watchdog give some links:
- [pnotify](http://mark.heily.com/pnotify)
- [unison_fsmonitor](https://webdav.seas.upenn.edu/viewvc/unison/trunk/src/fsmonitor.py?view=markup&pathrev=471)
- [fsmonitor](http://github.com/shaurz/fsmonitor)
- [guard](http://github.com/guard/guard)
- [pyinotify](http://github.com/seb-m/pyinotify)
- [inotify](ools: http://github.com/rvoicilas/inotify-tools)
- [jnotify](http:

[2014-03-04 21:51] k4nar commented on #15
For BSD, we might be able to use Pyinotify with the addition of a dependency to [libinotify](https://github.com/dmatveev/libinotify-kqueue). Cf [this issue](https://github.com/seb-m/pyinotify/pull/64). It even seems to be working on Mac OS.
We should be able to do the same thing without any dependency, as Python expose an API for kqueue and kevent. But I don't know if it worth all the work.

[2014-03-04 21:55] k4nar commented on #15
@Khady : Unison's FSMonitor seems fine, I'll take a better look.
None of the other solution seems to be interesting (well, except pyinotify of course).

[2014-03-06 18:05] k4nar commented on #14
Okay, I found the issue, the file was created just before `check_changes` was called in LocalStorage, therefore two events where triggered, one by `check_changes` and one by Watchdog (same problem with Inotify listening to `IN_CLOSE_WRITE`).
I'm not sure how to fix this without side-effect.

[2014-03-06 19:16] #14 closed, assigned to nobody

[2014-03-06 23:18] k4nar commented on #15
LocalStorage now uses Pyinotify.

Next step would be Mac, but I don't have a Mac OS machine. Could somebody try to implement a watcher using MacFSEvent ? The API seems rather close to Pyinotify, it shouldn't be a problem.

[2014-03-07 19:47] #12 closed, assigned to k4nar

[2014-03-07 22:29] k4nar opened #16 "PyPy support"
We should support PyPy. All our dependancies are supposed to work with it. The only issue I see right now is : https://github.com/mozilla-services/circus/issues/744 .

[2014-03-09 22:37] k4nar opened #17 "Remove Redis"
Redis was our first choice for the database as it's simple and yet powerful. It has served us pretty well until now.
However, it can't be a permanent solution : The in-memory aspect of Redis does not fit our needs, and it's not available in a recent version in all Linux distribution (or Mac). It's also not officially supported under Windows.

The replacement is not fixed yet, but I think it will b

[2014-03-09 22:49] k4nar commented on #10
I submited a PR to circus to fix the bug, it should be merged any time soon (I just have to write some unit tests before :D).

[2014-03-09 22:49] #10 closed, assigned to nobody

[2014-03-12 03:56] Khady opened #18 "License"
We have to pick a license for the project.

| Library | Licence |
| --- | --- |
| circus | Apache License v2 |
| pyzmq | LGPLv3 + 3-clause BSD |
| redis | MIT |
| simplejson | MIT |
| logbook | BSD |
| path.py | MIT |
| sh | MIT |
| codespeed-client | MIT |
| pyinotify | MIT |
| MacFSEvents | BSD |

[2014-03-13 22:50] Khady commented on #18
What kind of license do you prefer? Like the GPL or a more permissive one like the MIT/BSD?

[2014-03-13 22:52] k4nar commented on #18
I would go with the GPL. BSD-like licences are good for libraries, but as we're making a software I think we should be free according to the terms of the Free Software Foundation.

[2014-03-13 23:46] entwanne commented on #18
I would instead chose a _BSD_ license or another non-restrictive one.
Why would we want to prevent non-free use of _Onitu_ ?

[2014-03-14 01:35] k4nar opened #19 "Failure in test_crash"
cf this build : https://travis-ci.org/onitu/onitu/jobs/20732207

[2014-03-14 02:03] #19 closed, assigned to nobody

[2014-03-14 02:03] k4nar commented on #19
This should do it. I'm not 100% sure though.

[2014-03-14 06:43] Khady commented on #18
Political position. I want to defend free software. Not open source.

[2014-03-16 20:13] k4nar opened #20 "Checksum fail in test_crash on Travis"
We had several checksum fails on Travis with test_crash lately. It's always on `test_crash_rep2_to_rep1` :
- https://travis-ci.org/onitu/onitu/jobs/20893786
- https://travis-ci.org/onitu/onitu/jobs/20893994
- https://travis-ci.org/onitu/onitu/jobs/20858559
- https://travis-ci.org/onitu/onitu/jobs/20849385

There is also a TimeoutError, but I think that's less important : https://travis-ci.org/onit

[2014-03-18 23:33] k4nar opened #21 "Describe new API"
We will need a REST API for the web client and potential other clients. This API should encapsulate all the basic operations to manipulate the entries, the files, the Referee and Onitu.
It would be really great if the API could support several front-ends (HTTP, ZeroMQ, Websockets…), this will be considered during the conception.

I'll start to write a draw in the next few days. If you have any ide

[2014-03-18 23:35] k4nar commented on #17
[Blitz-db](https://github.com/adewes/blitzdb) is a pure-python Document-Oriented DB without any external-dependency. It can also be used with MongoDB as a backend.
It seems pretty interesting, but also very young, so it might not be a good option.

[2014-04-03 18:08] k4nar commented on #20
I didn't see any checksum errors recently, but we still have a few TimeoutError (https://travis-ci.org/onitu/onitu/jobs/22184067).

[2014-04-08 19:58] k4nar opened #22 "Timeout in test_changes_many_files"
We have a lot of them, like this one : https://travis-ci.org/onitu/onitu/jobs/22554870
I think the matter is that we're waiting for rep1's DEALER to start, but it won't start until the end of the test.

[2014-04-14 06:37] Khady commented on #15
We have the same problem with MacFSEvent than with Watchdog, the results of the tests are not very good. I don't think that we can easily expect a result as good as linux.

[2014-04-14 06:40] Khady commented on #2
[Canonical is shutting down U1](http://blog.canonical.com/2014/04/02/shutting-down-ubuntu-one-file-services/). I think that we can close this issue and forget U1.

[2014-04-14 10:35] k4nar commented on #15
I think we can, at some extent at least. I think that on systems not supporting `IN_CLOSE_WRITE`, LocalStorage should put the event in the queue, merge them, and process the ones that haven't changed in the last past X seconds.
It would slow things down, but we would trigger less events for incremental changes.

For OSX, I think you should take a deeper look at [rb-fsevent](https://github.com/thib

[2014-04-14 10:36] k4nar commented on #2
Yep, I agree. The file-sync service will shut down in the next few month, so it doesn't worth it.

[2014-04-14 10:36] #2 closed, assigned to Scylardor

[2014-04-18 15:17] k4nar opened #23 "Crash in LocalStorage"
This happened during the demo :

It was due to the renaming of a directory with Nautilus. However, it shouldn't crash but only log the error.

[code]

[2014-04-18 20:29] k4nar commented on #20
A new checksum error : https://travis-ci.org/onitu/onitu/jobs/23303478

Didn't have any time to investigate yet.

[2014-04-19 18:28] k4nar opened #24 "Catch errors in handlers"
The plug should try/catch every error happening in a handler, and restarting it with an exponential back-off.

[2014-04-19 18:31] k4nar opened #25 "Make sure the drivers are restarted upon error"
Circus should restart a driver if a failure occurs. However, I'm not sure this currently happen in every situation. We should also make sure that the driver is restarted in a consistent state.

Also, by default, Circus try to restart the watcher something like 5 times. An exponential back-off might be a better solution.

A bunch of tests must be created to ensure all that.

[2014-04-19 18:46] k4nar opened #26 "Add checksums in the Plug"
Since the beginning, checksums are a recurrent issue in Onitu. The would be to have a checksum in the metadata, and make sure after each upload that the uploaded file is consistent.
However, this situation is nearly impossible, as different services use different checksums (sha1, md5…) or even none at all !

I think a best shot would be to make sure that the data we receive is consistent. I think

[2014-04-28 02:17] Khady commented on #26
It's not possible to use only this solution. It will consume a lot of data, which can be a problem if you have a slow/limited/mobile connection. However, it may be useful to trigger it manually.

[2014-04-28 05:37] Khady commented on #20
One more https://travis-ci.org/onitu/onitu/jobs/23902815

[2014-04-28 22:24] k4nar commented on #26
If we have the last solution, we must calculate the checksum on the first download, so we can also check it during the uploads.

Anyway, the main issue here is that we never check that the data shared by Onitu are exactly the same than those on the remote.

[2014-04-30 19:54] k4nar commented on #18
@entwanne what do you call a non-free use ? I still think that GPL would be the best choice, mostly for political reasons.

[2014-04-30 20:35] k4nar opened #27 "Specification for drivers options"
The drivers have different options (in addition to the default ones, like the root and the chunk size). Those options can have different types, and different requirements.

Each driver could have a JSON file describing its options. We would be able to automatically build the configuration interface and the documentation from this file.

I see six different types of options :
- Integers
- Floats
-

[2014-04-30 22:09] entwanne commented on #18
If someone wants to add closed-source drivers for example ?

[2014-05-01 12:46] k4nar commented on #18
I don't see any issue with that. Each driver can have a separate license.

[2014-05-01 17:15] #22 closed, assigned to k4nar

[2014-05-01 17:27] k4nar commented on #27
After giving it some extra thought, I think we should had a proper manifest to each driver. It could be a `manifest.json` file at the root of the driver, and contain the following informations :

[code]

We could eventually add a field for the platform, and one for the version of Onitu, but I'm not sure if it's really mandatory.

[2014-05-01 18:35] k4nar commented on #20
I think it's linked to this commit : https://github.com/onitu/onitu/commit/15354bafaaf487c70b4a2fe4ae0aaacb4442de0d
I'll try to find why 1-byte chunks could cause an issue.

[2014-05-01 19:36] k4nar commented on #20
It might be related to https://github.com/onitu/onitu/commit/a20573746949a5fe1507fdd9c9cc2ff419860dcb, as we're always appending to the file, ignoring the `offset` argument. I'm trying to see if seeking to the right offset cause any trouble.

[2014-05-01 20:31] #20 closed, assigned to k4nar

[2014-05-01 23:44] k4nar commented on #27
If we go in that direction, we'll need to add it to the doc and expose it through the API. I'll take care of that.

[2014-05-01 23:47] k4nar opened #28 "Finish Google Drive driver"
Google Drive is still not ready. I think we have some issues with the notifications.

[2014-05-01 23:49] k4nar commented on #21
Work in progress in the API branch. The doc is made with sphinx.
I'm closing it as the main work is now to implement and improve the API.

[2014-05-01 23:49] #21 closed, assigned to k4nar

[2014-05-01 23:50] k4nar opened #29 "Finish SSH driver"
We still have some issues with the SSH driver.

[2014-05-01 23:52] k4nar opened #30 "Update the benchmarks"
The benchmarks are not up-to-date. Many things have changed in the testing suite.

[2014-05-02 00:08] k4nar opened #31 "Start S3 driver"
We should have a proof-of-concept for the S3 driver. It may not pass all the tests or fit all the requirements, but it should upload, download and watch changes.

[2014-05-02 00:12] k4nar opened #32 "Refactor test_multipart"
The current implementation of `test_multipart` is bad in so many ways. It should use small chunks (size 1 for instance) and check that the transfer is aborted after each change, and that the file is consistent in the end.

[2014-05-02 01:32] k4nar opened #33 "Start the new client"
The client will be an instance of LocalStorage which will communicate with Onitu through a tunnel. We should start the conception and the implementation.

[2014-05-02 01:37] k4nar opened #34 "Use OAuth2 for the API"
The API should only be accessible when connected via OAuth2.

A lot of Python libraries exist for OAuth, but I don't think that one of them really stands out. We should look for the best solution at the moment (I think it might be this one : https://github.com/idan/oauthlib/)

[2014-05-02 01:41] k4nar opened #35 "Improving the rules"
The current DSL for the Referee's rules is misleading. We all had troubles understanding it, and we often make mistakes due to a misinterpretation.

I don't have a proposal at the moment, but I think we should find a way to make them more intuitive and less confusing.

This is pretty urgent as we will soon have to create an interface to edit them with Facet.

[2014-05-02 03:39] Khady commented on #30
Actually the benchmarks don't depend on the testing suite. They just use a common approach to manage onitu and to interact with the file system.

[2014-05-02 12:21] k4nar commented on #30
Well, they just use basically all the utility functions from the functional tests :D .

[2014-05-05 12:17] k4nar opened #36 "Checksum errors in test_multi_mime"
We had quite a few checksum errors in `test_multi_mime`:
- https://travis-ci.org/onitu/onitu/jobs/24310897
- https://travis-ci.org/onitu/onitu/jobs/24199253
- https://travis-ci.org/onitu/onitu/jobs/23139549
- https://travis-ci.org/onitu/onitu/jobs/23138340

I've absolutely no idea of what's happening there. The drivers are detecting files from other tests (session issue ?) and are notifying files

[2014-05-05 12:24] k4nar commented on #36
Ok, we are using the same sessions for each test, with no apparent reason. I think this is were the problem comes from.

[2014-05-05 12:40] #36 closed, assigned to nobody

[2014-05-06 13:32] entwanne commented on #32
It seems to be OK with the new `test_multipart_copy`.

[2014-05-06 13:32] #32 closed, assigned to entwanne

[2014-05-09 00:50] Scylardor commented on #31
I currently have a proof-of-concept driver working with Boto. Each S3 driver should fetch a user-defined S3 bucket.

It uploads, downloads and watches the changes of the Amazon S3 server. It is worth noting that since S3 hasn't a real watching system, it just polls the bucket contents and compare the timestamps with the Onitu database's ones at a fixed period of time to look for changes.

I'm goin

[2014-05-09 21:28] k4nar commented on #32
Actually the test isn't ok. You set `chunk_size=1` in the source driver, but it's the target driver which choose the chunk size for the transfer. Also, 100KB is far too much with chunks of 1.
Corrected in 752480a.

[2014-05-14 09:41] #23 closed, assigned to k4nar

[2014-05-14 09:56] k4nar opened #37 "Handle moves"
We don't have a handler for moves. Not every driver could handle them, so we should have a backup solution.

[2014-05-14 14:49] Scylardor commented on #31
Seems like we've got a problem : Amazon S3 won't allow us to create multipart uploads with parts smaller than 5 MB (unless it is the only part).

We'll have to find a more convenient way to handle this kind of uploads. In the meantime, I keep the proof-of-concept "get the file contents as string, modify, send the modified string" version since it works fine (for small files at least).

[2014-05-14 15:26] k4nar commented on #31
I'll add a handler `set_chunk_size`, which will take in parameter the requested size (ie: the one defined by the user or asked by Onitu) and return a valid one. S3 is not the only service to have this kind of behavior.

[2014-05-14 15:27] k4nar commented on #31
In the meantime, we can close this issue as we have our PoC :) .

[2014-05-14 15:27] #31 closed, assigned to Scylardor

[2014-05-14 15:30] k4nar opened #38 "Create a set_chunk_size handler"
As stated in #31, some services have requirements regarding the size of chunks for the upload. My proposition is to add an handler which will be called at each transfer with the requested size (as of today this size is either set by the user or let to its default, 1M), and will return a valid size.

It could be problematic if a service have requirements regarding the size of the chunks for the dow

[2014-05-14 18:44] k4nar opened #39 "Escalator"
In relation to #17 , we need to find another Database.
# Elevator's fall

For some time I've been working on using Elevator, a server on top of LevelDB. I choose Elevator because I knew the main dev, and it was using the same technologies that the ones we wanted (leveldb + zeromq + msgpack).

However Elevator is being rewritten in Go, and the Python implementation will not be maintained anymore. M

[2014-05-14 19:09] k4nar commented on #24
The drivers will be able to throw different exceptions, and the Plug will behave accordingly. Right now I see two kind of errors :
- `TryAgain`: The handler will be called again later
- `ServiceError`: The error is outside our reach, we should abort the current operation

Any other error will trigger cancel the current operation (like `ServiceError`).

[2014-05-15 00:34] #24 closed, assigned to k4nar

[2014-05-15 23:41] entwanne commented on #39
I have worked today on both client and server, implementing first the protocol and then operations.
It works pretty well now, and remains only few things: random port and `C-c` for the server, and check the thread safety for the client (maybe just by adding a lock around all couples of send/recv on the scoket).

[2014-05-16 14:51] entwanne commented on #39
I also implemented multiple databases management, with create/connect operations.
No list or drop for the moment.

[2014-05-17 00:31] k4nar commented on #39
:thumbsup:

We need to bind to random port for the workers (or, even better, use `inproc` if possible), and bind to a unix sock for the other socket. We should also accept an optional port for Windows' support (no unix sockets).

[2014-05-18 08:07] Khady commented on #30
fix in b5a851e087b

[2014-05-18 08:07] #30 closed, assigned to Khady

[2014-05-18 16:02] k4nar commented on #7
It's still an issue, essentially in `test_multipart`. I just got a 6s delay, it's far too much.

I'll try to tweak some ZMQ options (HWM…) in order to see if it changes anything.

[2014-05-18 19:48] #27 closed, assigned to k4nar

[2014-05-18 19:54] k4nar opened #41 "Handle deletions"
Before handling moves, we have to handle deletions.

In term we should have an option to ask the user through Facet if he wants the file to be deleted. But this isn't for today.

[2014-05-18 20:00] k4nar opened #42 "Add tests for Escalator"
We should have some basic tests for Escalator. It would also be great to have some benchmarks.

[2014-05-18 20:01] k4nar opened #43 "Add tests for options validation"
We added options validation in https://github.com/onitu/onitu/commit/0e3c9f8d987d2a2e7b3dd8d1955992be24089ae8. It needs some proper testing.

[2014-05-18 20:10] k4nar opened #44 "Start Flickr driver"
Special drivers, working with services with big limitations, would be a great plus for Onitu.

It might cause some issues as for example chunked upload/download will not be available. Maybe we could manage to handle it by adding new handlers to the Plug.

The first step is to analyze Flickr API and write a small POC. Then will see how we should tweak the Plug in order to get it working.

[2014-05-18 20:14] k4nar opened #45 "Bundle LevelDB in Plyvel"
Compiling LevelDB when installing Plyvel would be really great (like PyZMQ is doing with ZeroMQ).
Of course it should only be compiled if LevelDB is not available on the system.

There's an issue on that with some very interesting guidelines here : https://github.com/wbolster/plyvel/issues/31

[2014-05-18 20:17] k4nar opened #46 "Finish S3 driver"
I don't see anything blocking in order to get S3 working, except #38.

[2014-05-18 20:22] k4nar opened #47 "Add a password to the setup"
The setup should have an optional password, stored hashed in the database. It will be asked during the startup, but also in order to connect to Facet (I don't think we can use OAuth for that).

[2014-05-18 20:35] k4nar opened #48 "Add rules to manipulate the Referee in the API"
Waiting for #35 before doing anything.

[2014-05-18 20:43] k4nar opened #49 "Configuration interface for the drivers"
We should have an interface to add a new entry or edit one. It should use the informations in the manifest (a route should be added in the API in order to expose it) to display the according input fields.

[2014-05-18 20:56] k4nar opened #50 "Add rules to monitor the processes in the API"
The API should have rules to monitor the different processes started by Onitu using Circus.

We should have at least :
- list
- list active
- list dead
- stats, using http://circus.readthedocs.org/en/latest/for-ops/commands/stats/
- stop
- start
- restart

I would prefer this to be in a separate PR, so it should wait for the branch API to be merged.

[2014-05-19 08:13] Scylardor commented on #46
Yes, there are a few improvements to be made, raise exceptions, implement the new changes, make tests. But that should be pretty quick.

There's still the #38 problem. Multipart upload is our only way to safely handle very large transfers. But even with this new handler, I'm not sure to understand how is it supposed to work on small transfers (less than 5 MB for Amazon). I think having an example

[2014-05-19 11:26] k4nar commented on #46
Well, you said that Amazon was accepting chunks < 5MB if it was the last chunk ? If the file is, let's say, of 20KB, you will have only one chunk, the last one. So you can request a 5MB chunk, you will only get 20KB, but S3 shouldn't complain about it.

[2014-05-20 22:03] k4nar opened #51 "Catch errors in Router"
When the Router is calling `get_chunk`, it is not catching the exceptions. Maybe it could use the same function than `Worker.call`, however it would need some refactoring.

[2014-05-21 11:16] k4nar commented on #38
fixed in #40

[2014-05-21 11:16] #38 closed, assigned to Scylardor

[2014-05-30 09:44] Scylardor commented on #46
That's it, `set_chunk_size` has resolved this problem.

Thus, the driver is nearly fully functional. The only remaining problem is that it doesn't pass all the tests. But since all the failed tests so far have only been timeout errors, I should retry with a longer timeout and a better Internet connection soon.

[2014-05-30 13:57] k4nar commented on #46
You could also try to see what are the main bottlenecks. Maybe you do some useless operations, or we could use a better chunk size by default.

[2014-05-30 14:26] #17 closed, assigned to k4nar

[2014-05-31 09:44] #39 closed, assigned to entwanne

[2014-05-31 20:57] #42 closed, assigned to entwanne

[2014-06-03 19:07] #51 closed, assigned to k4nar

[2014-06-04 17:33] k4nar opened #53 "Improve event detection"
With Redis we were detecting new events using a blocking call. This is not possible with Escalator, so we make frequent requests to see if new events are available. This is pretty bad, as a lot of useless requests are made (with sockets, serialization, LevelDB, deserialization…).

A solution would be not to use the DB to store the events. However, it is far simpler to check past events in the DB w

[2014-06-04 19:38] k4nar commented on #7
The only thing I found slowing down `connect` so far is DNS resolution. As we were connecting using `localhost` instead of `127.0.0.1`, a DNS resolution was mandatory. In my tests, this improve the connexion time by an order of magnitude, and remove the hangs.

I'm not closing it yet, I'll wait a few days to see if we experience other hangs.

[2014-06-05 16:44] k4nar commented on #3
I don't remember how we are detecting changes, but Dropbox just added webhooks :
https://www.dropbox.com/developers/webhooks/tutorial

[2014-06-06 17:23] Scylardor commented on #46
I'm glad to announce that with the latest commit, `amazon_s3` passes all the tests (with ONITU_TEST_TIME_UNIT=40 on my computer, but can probably pass with less) and can be deemed as fully functional (for now).

I still have some weird issues with tox on my computer, so I had to run the tests directly via py.test. Still trying to find out what's causing it.

[2014-06-06 17:26] k4nar commented on #46
Can you make a Pull-Request ?

[2014-06-10 11:19] #53 closed, assigned to k4nar

[2014-06-10 11:22] k4nar commented on #7
Since the last changes I never saw any hang. Closing it.

[2014-06-10 11:22] #7 closed, assigned to k4nar

[2014-06-12 10:51] k4nar commented on #29
We have some troubles with Paramiko. I think we should put SSH in stand-by right now, and wait for the client to come to have more options.

[2014-06-12 10:51] #29 closed, assigned to Akiat

[2014-06-12 11:32] k4nar opened #55 "FTP driver"
We need a driver for FTP. Fortunately, Python has a built-in module to handle FTP connections ([ftplib](https://docs.python.org/2/library/ftplib.html))

In order to do multipart uploads/downloads, the server have to accept some flags, which can be given in the `rest` argument of some commands (`transfercmd`, `retrbinary`…).

FTP doesn't handle events, and even listing files and getting the `mtime`

[2014-06-22 18:56] k4nar commented on #15
I think we can close it now and open a new ticket for OSX.

[2014-06-22 18:56] #15 closed, assigned to Khady

[2014-06-22 18:57] k4nar opened #56 "OSX support"
As of today, Onitu isn't fully available on OSX. The main issue is LocalStorage. FSEvent seems to be the way to go to support it, but we encountered some issues the last time we tried.

For a part of the discussion, see #15.

[2014-06-22 19:01] k4nar opened #57 "Support one-shot transfers"
Currently the transfers are always made by chunks. However, some APIs (like Flickr or FTP) don't support chunked upload or download.

We need to add two handlers to get and upload a file in a one-shot way.

[2014-06-22 19:25] Scylardor commented on #46
For the record, I've forked [tinys3](https://github.com/smore-inc/tinys3) in order to add multipart upload handling to it. I've made an issue on the original repo, but it seems pretty dead (last commit on Apr 30 and numerous unanswered issues), so I'm dealing with it myself.

Multipart uploads excluded, it seems to be a prety minimalistic solution (using requests) that works well. I think I'll ult

[2014-07-04 16:33] k4nar commented on #41
Done.

[2014-07-04 16:33] #41 closed, assigned to k4nar

[2014-07-04 16:34] k4nar opened #58 "LocalStorage: Detect deleted files at startup"
Currently, if a file is deleted when Onitu is not running, the deletion is not notified.

[2014-07-05 09:17] Khady commented on #33
@entwanne is working on the new client. Should we close the issue?

[2014-07-05 09:20] k4nar commented on #33
Yep. We have a good insight of the conception, and started the implementation.

[2014-07-05 09:20] #33 closed, assigned to k4nar

[2014-07-05 09:27] k4nar opened #59 "Windows support"
We must support Windows. Some work had been started for LocalStorage, but it was never completed and it's getting old.

Our main issue was Circus, but now Circus has native Windows support (well, the development version has).
There is still some work in LocalStorage, and we must also find a solution for replacing AF_UNIX sockets without too much pain.

I'm working on it, pretty much everything's w

[2014-07-05 12:43] #59 closed, assigned to k4nar

[2014-07-05 17:39] k4nar opened #60 "LocalStorage: Handle moves from outside the root"
If we move a file from outside of the root, it will not be catched by LocalStorage.

[2014-07-05 18:04] kolyne-dev commented on #58
Same problem with Google Drive driver for the moment.

[2014-07-06 14:26] k4nar commented on #18
I think we should take a decision for that. I'm still in favor of the GPL.

[2014-07-06 14:28] k4nar commented on #35
Ok, so we have now a new specification for the rules. We'll be implementing them when things will slow down.

[2014-07-06 14:28] #35 closed, assigned to wapiflapi

[2014-07-06 14:34] k4nar opened #61 "Merge the API"
It's time to merge the API, in order to facilitate its development.

[2014-07-06 14:44] kolyne-dev commented on #18
It's maybe a stupid question but if a driver import the plug if the plug is gpl, the driver become gpl no ? So the lgpl is better if we want the possibility to have close source license driver.

[2014-07-06 14:57] k4nar commented on #18
I don't think that's true, because you can see the Plug as a dependency. Like a Linux module.

[2014-07-06 15:15] kolyne-dev commented on #18
Hum True. I thought about glibc which are in lgpl and for me onitu is in the same case than glibc. But if we compare onitu with linux kernel, i understand.

[2014-07-06 15:17] k4nar commented on #18
Well, Onitu isn't a library, but it's a software which can be extended using an API. Like Inkscape or Blender (only with less fame ;)).

[2014-07-06 17:24] entwanne commented on #18
I'm still in favor of the BSD :)

[2014-07-06 18:33] Khady commented on #18
I'm in favor of the GPL, to defend the user and not the code.
But I'm OK with a MIT or LGPL license.

@azokal We don't compile the code and deliver an unique binary, so the linking part of the gpl doesn't apply for us (as far as I know, I asked a few people about this issue). We just load the code.

[2014-07-06 18:50] k4nar commented on #18
I don't think that LGPL is be a good idea (it's clearly directed towards libraries). But I'm ok with MIT or BSD.

[2014-07-06 19:44] entwanne commented on #18
I'm also ok with MIT or (L)GPL, so maybe MIT is the best compromise.

[2014-07-06 23:12] #61 closed, assigned to k4nar

[2014-07-07 22:19] k4nar opened #62 "Issue when sharing the database with Python 2 and 3"
We have some unicode-related issues when sharing the DB. Here is the Traceback using Python 3 with a database created with Python 2:

[code]

When printing the metadata, I was getting keys in bytes instead of string. This is the source of the issue.

[2014-07-10 13:33] k4nar opened #63 "Use libmagic for MIME-type identification"
As of today, we detect the type of the files using their extension. Instead, we should use libmagic, with its binding, [python-magic](https://github.com/ahupp/python-magic).

However, this has a very low priority.

[2014-07-19 08:53] #37 closed, assigned to k4nar

[2014-07-19 08:59] k4nar opened #64 "LocalStorage: Handle deletions and moves on Windows"

[2014-07-19 09:40] Scylardor commented on #4
From a driver point of view : should we use a setup.py per driver ?

This could be especially useful for drivers with extra requirements. For example, the S3 driver requires `requests` and `futures`, and it would be silly to add them to the project's general requirements if the user doesn't use S3.

[2014-07-19 12:27] k4nar commented on #23
Could someone check with Nautilus if now we have the right behavior (that is, "New file.txt" is created, and then moved to "whatever_you_name_it.txt") ?

[2014-07-19 15:31] Scylardor commented on #23
I just checked and I don't think so.

When you go "New Document -> Empty Document" in Nautilus, it creates an 'Untitled Document' file, which is detected by Onitu, but renaming it, upon creation (Nautilus lets you edit its name right away) or later doesn't do anything in Onitu.

It doesn't crash anymore though.

EDIT : I take that back. It still crashes with folders :

[code]

Happens upon placing

[2014-07-19 15:51] k4nar commented on #23
Were you trying with the last version on develop ?

[2014-07-19 16:04] Scylardor commented on #23
Actually I wasn't, but trying the last version is the same.

It seems like it kind of stalls events too. Any file dropped in the driver_{a,b} example folders isn't detected anymore by Onitu after that, that's weird

[2014-07-19 16:08] k4nar commented on #23
Well, a good old "remove the database & retry" should fix it ;) .

[2014-07-19 16:26] Scylardor commented on #23
After a bit of cleaning, that's still no good. In short, what happens :
- renaming a regular file works, the update is detected and there's the message `INFO: Referee: Moving of 'yolo' to 'swag' from A`
- creating an untitled document in Nautilus is detected by Onitu but renaming it, later or on the spot, isn't detected. Moreso, doing it seems to break any subsequent attempt too and Onitu doesn't

[2014-07-19 16:39] k4nar commented on #23
Yeah, I think what happens here is that we have a weird issue when creating a file with Nautilus, causing a lot of bugs. The behavior of Onitu can be quite weird when some events are wrong, I should try to fix that someday.

I really don't understand why Onitu wouldn't detect the renaming when creating a file. Could you run it with `--debug`, and maybe print the `event` variable in `process_IN_MOV

[2014-07-20 07:17] k4nar commented on #3
Ok, so @Scylardor will be taking it from now.

I made a few changes, now the tests are launching, but are blocking at one point because the driver is imported in the test helper, thus a new Plug is created, trying to connect to Redis.

The code is really far behind develop, and a lot of stuff aren't working (for instance the root is never used). Also a new `DropboxDriver` is created in each handle

[2014-07-20 07:20] k4nar commented on #3
Oh also I don't think changes watching works. Apparently one can watch for changes either by getting a delta from a previous state, or by using webhooks. The former should be used during the start-up, and then hooks to monitor new changes.

[2014-07-21 20:07] k4nar opened #65 "Allow entries to write key in Escalator"
Entries should be able to write their own keys in the database.

[2014-07-22 10:52] k4nar opened #66 "Add method to list the files in a directory, per driver"
The Drivers should be able to get all the files in a directory (and its children). Maybe as a dict where the key is the filename and the value the `extra` field.
This would essentially be used to monitor changes (creations and deletions).

[2014-07-22 10:54] k4nar commented on #58
Blocked by #66 .

[2014-07-23 20:29] k4nar opened #68 "Investigate OwnCloud's API"
OwnCloud is a very nice project, in a spirit close to Onitu. It would be really great to have a driver for it.

As for the version 7, they do server-to-server sync. We should take a look at their API and see if we can make a driver. As it's Open-Source, we'll eventually be able to implement what's missing :) .

[2014-07-23 21:02] Scylardor opened #69 "Security checks while moving files"
I had the problem while testing moving files with my S3 driver : having a folder synced with a driver, when you move a file of this folder outside of it, the Plug doesn't seem to properly check if the new place of the file is still in a folder synced with the driver.

In the following log, `s3` is a local folder synced with a S3 bucket, and `youpla` is a local folder having nothing to do with it t

[2014-07-23 21:46] k4nar commented on #69
Thanks for the report :) .

I'm not really surprised, we're not checking anywhere if we are working outside of the root (this is a big security hazard, but it's on my imaginary Roadmap ;) ).

I think I'll fix it when implementing the new rules, with the Folders.

[2014-07-23 21:47] #50 closed, assigned to Khady

[2014-07-24 07:36] Khady opened #70 "Add tests for the REST API"
How can we build tests for the REST API? Maybe with unit tests instead of functional tests?
Do you know some tools?

[2014-07-24 07:44] Khady commented on #63
The problem with python-magic is that we need to download at least the beginning of the file to get the MIME-type. So each time a change is detected on a file, we should download the file, get the MIME-type, check if it's in a rule and then apply the rule.

It can work fine with the drivers that allow to download a small chunk, but it will be a problem with the other ones.

[2014-07-29 10:07] Scylardor opened #71 "Create folders when downloading remote folders"
I'm having this problem when I try to synchronize e.g. Amazon S3 or Dropbox with Local Storage with folders that exist on the cloud, but not on Local Storage.

Strictly speaking : on my computer I sync LocalStorage with S3. Everything coming from S3 will be put in the 'example/driver_a/' folder. The S3 root for Onitu is 'onitu/'. I create the 'onitu/' and 'onitu/folder/' folders on S3 (Onitu isn't

[2014-07-29 19:39] Khady opened #72 "Launch circus on a given port"
Right now, circus is always launched on the default port. We should allow the user to choose on which port circus will run.

[2014-07-29 19:47] Khady commented on #70
I add a few tests in 8006755ea with requests to query the API.

[2014-08-01 09:24] Scylardor opened #73 "Dropbox and case-insensitiveness problems"
I'm not sure how to address this problem so let's expose it here.

Dropbox is a case-insensitive system : for it, every filename is lowercase.

This mainly introduces case-conflict issues when for example trying to upload 'test', 'Test', 'TesT'... The last case-conflicting file will always be the only kept one, as Dropbox treats case-conflicting uploads as updates of the same file.

This of course

[2014-08-01 09:38] Scylardor commented on #3
I've taken care of the Dropbox driver and used the existing code base to rewrite it a bit like the S3 driver. I think all useful handlers are implemented, plus changes checking.

About OAuth authentication, I added a little script for the user to allow Onitu to use Dropbox. It generates the URL the user has to go to, and the generated OAuth tokens. These are what the user must use with Onitu, in o

[2014-08-01 10:13] Khady commented on #72
Dix via d8b10c6

[2014-08-01 10:13] #72 closed, assigned to Khady

[2014-08-02 17:31] k4nar commented on #70
Well, I'm pretty sure that a "functional" approach would be better. You could either hardcode the response and compare, or seek for certain patterns or elements in the response.

[2014-08-02 18:23] Khady commented on #70
I wrote a few functional tests for half of the API. I use requets to query the rest api. It works pretty well, but if you can check that I did no mistake...

It's pretty annoying to write unit tests because I have to setup an instance of onitu and escalator. And the results of the functional tests should be very close to the unit tests.

[2014-08-02 23:05] k4nar commented on #65
Needed by Drive and Dropbox.

[2014-08-03 10:57] k4nar commented on #73
It could actually be a big issue for LocalStorage as well. For example, FAT32, VFAT and HFS+ are case insensitive (but case preserving).

I'm not sure of what would be the good behavior, each solution seems either bad or hacky.

[2014-08-03 11:09] k4nar commented on #3
Cool thanks !

For your first question, I think that we should try to get total access. The goal of Onitu is to manage and sync documents between places, so starting with an empty dir without access to the documents is not the way to go.

For the 4MB, I think that the best would be to set it in the manifest as a default. For the 5mn delta, I'm not sure. 5mn is quite long, so it would be bad for ou

[2014-08-03 11:18] k4nar commented on #71
We already handle new dirs in LocalStorage, we even have a test for it. The code to do it is the following :

[code]

I think this is the only line which could throw an Errno 20, and I don't see why it would. The fact that it  fails with `example/driver_a/folder/.test.onitu-tmp` and not `example/driver_a/folder/` imply that `dirname` failed, but I don't understand why.

[2014-08-03 13:39] Scylardor commented on #3
Well I think we could set 4 MB as `set_chunk_size`.

About the driver's development, all tests pass, except the `test_move` one.

I've got a `TimeoutError` I have to investigate more. I wonder if it isn't related to the fact we currently cannot store the Onitu cursor in database.

Except the case issue we're almost done here. :)

[2014-08-03 13:52] k4nar commented on #3
That's not the point of set_chunk_size. But I think we have an option to set the default chunk size. If not, it would be easy to do.

For test_move, does it pass with the last change ?

[2014-08-03 15:08] Khady commented on #70
I finished the tests for the monitoring. I have a strange error on travia that I don't understand.

I found no way to wait for the api to be launched, the message in the log is send before the call of the function run.

[2014-08-03 15:10] Scylardor commented on #3
I'm up-to-date with develop.

Also, I finally have a TimeoutError on test_crash, on test_crash_rep2_to_rep1 (from Dropbox to Local storage). It is very odd since everything (in the logs) seems to be OK during the test, but once the transfers are done, the test just doesn't stop until it timeouts.

[2014-08-03 15:14] k4nar commented on #3
Do you have the log ?

[2014-08-03 15:30] k4nar commented on #70
Unfortunately I don't see any way to do something after Bottle's start. So yeah, a (small) sleep might be the best solution here.

[2014-08-03 22:11] Scylardor commented on #3
Ok, about `test_crash` I realized it was a stupid error when I analyzed the log (in the Dropbox → Local storage way, the root was prepended twice to the filename and so the filename was wrong).

I just ran tox and I confirm that `move_file` is the only test that doesn't pass. I'm going to take a good look at it tomorrow, but I don't know if it will be so easy to fix.

[2014-08-04 00:04] k4nar commented on #3
That's great news ! Well, even without the move I think we can merge it. You should clean the code and the git history in order to create a pull-request. I'll review it in a few days or so.

[2014-08-04 08:34] Khady commented on #4
Should web use distribute, setuptools, distutils or Distutils2 ?

[2014-08-04 11:06] iloria-iloria opened #74 "Onitu on local storage on windows is blocking after uploading file"
Hello,
I've ported the move, delete, renaming on windows, it is working without any problem when the file is uploaded at the root of the folder, but each time i upload/rename/move a file in a subfolder, the operation is successful but Onitu then stay blocked somewhere and i can't find where.

According to the research i did, there may be an issue with doing a return in the windows loop line 256 of

[2014-08-05 14:02] Khady commented on #4
Setuptools.

http://stackoverflow.com/questions/6344076/differences-between-distribute-distutils-setuptools-and-distutils2/14753678#14753678
https://python-packaging-user-guide.readthedocs.org/en/latest/index.html

[2014-08-05 22:49] k4nar commented on #74
Yeah, it should be a `continue`, I'll fix that. Expect this bug I don't see what could happen here. Could you show me some debug ?

[2014-08-08 18:07] #57 closed, assigned to k4nar

[2014-08-09 02:20] #46 closed, assigned to Scylardor

[2014-08-11 22:15] iloria-iloria commented on #74
Hello,
Sorry for the delay, i din't have proper internet access until now.
I had lot of debug that showed me that it was the receiving driver driver that was blocking.
when cleaning my debug to make it comprehensive, i noticed that drivers B is notifying several time the referee for the same file. searching further, it seems that i'm going out of win32file.ReadDirectoryChangesW  several time in a

[2014-08-12 19:20] manny42 opened #76 "API file request problem"
J'ai un bug avec le retrieve de la liste des fichiers.

Sur la requete /api/v1.0/files j'ai un :
`KeyNotFound: "Key 'files' not found in base"`

J'ai des fichiers dans les root des drivers, et ils sont bien detectes vu que ils se synchronisent dans les drivers.

[2014-08-13 12:46] k4nar commented on #74
Well, maybe it would help to print everything you get from `win32file.ReadDirectoryChangesW` in order to understand why you are detecting the same file several times. That said, I don't see why it could be such an issue, as the Referee should be able to handle it.

Regarding Watchdog, we were using it (we even contributed to it), but there was several issues on Linux and Mac OS which made it usele

[2014-08-14 09:10] Scylardor commented on #76
I'm reproducing the problem.

It seems to come from a call to `escalator.get('files')`, which eventually raises the KeyError.

I'm investigating it but since I've no idea how we should retrieve all files metadatas, it would be faster if @k4nar had some input on it. Maybe @Khady will be able to help too.

Retrieving a particular file metadata is working, so I guess it shouldn't be too hard to fix.

[2014-08-16 21:29] k4nar commented on #76
Each file is stored in the db with the key `file:{fid}`. In order to get all the files in the db, the easiest way is to use a Range request with the prefix `file:` :

[code]

[2014-08-16 22:51] k4nar commented on #76
I have some things to refactor in the API and the Metadata, I'll push a fix soon.

[2014-08-19 02:44] iloria-iloria opened #77 "referee blocking after a new file is created"
Hello,
i noticed that the referee stop working when i use locage storage with the basic setup.json

[code]

if i put file in B on unix, it just work normally with no problem, however if i put a file in A the log show the notification for the first file, but not for the following one. trying to put a file in B after that also fail. Restarting onitu doesn't fix the problem.

[code]

i tried to pinpo

[2014-08-19 02:46] iloria-iloria commented on #74
it seems that my current issue come from issue #77 since file detection on windows is way messier with our current method, driver A notify the referee for a new file after receiving a file from B, which trigger #77.

[2014-08-20 12:10] #77 closed, assigned to nobody

[2014-08-20 12:11] k4nar commented on #74
Can you try again ?

[2014-08-21 09:41] iloria-iloria commented on #74
it seems that it was part of the issue again. if i work on my branch and cherry pick on the fix for #77, i get back to the point i was at the end of july when i opened this issue. if i cherry pick the fix for #77 + the fix for this issue (replacing return by continue), i get another problem :

[code]

strangly, right after upload, the file on B is no longer under the control of onitu, i'm wonderin

[2014-08-24 23:11] #76 closed, assigned to k4nar

[2014-08-24 23:13] k4nar commented on #74
I'm seeing a few bugs with the `owners` field. The message from the Referee might be related to that. Anyway, it shouldn't be an issue for you.

[2014-08-25 13:57] manny42 opened #78 "API method request and modification"
I am opening this issue to have a place to suggest and ask for modifications on the Onitu's API.

I will start by some requests:
- Is it possible to return array rather that { "entries" : [...] } (same for files, etc...) on the general GETs, this is to be compatible with restangular, if it's not hard to do.
- Is it possible to add a description field to the drivers and a method to modify it (PUT)

[2014-08-25 20:10] k4nar commented on #78
- No, unfortunately it's not possible due to that particular vulnerability: http://haacked.com/archive/2009/06/25/json-hijacking.aspx. Anyway, you just have to use `data['files']` instead of `data` so it's not a big deal.
- Well, drivers do have a description, which is in their manifest. I don't think that we have any route to access it from the API, but there should be one. This information is in

[2014-08-28 15:55] iloria-iloria commented on #74
are you sure it can't be an issue for me ?

 most of the move/delete function do this :

[code]

and it return everytime there, since the no longer under onitu control is also verifying something related to owner i though it was related.

edit:

i think i may have an idea of what is going on here :

as i explained before, file detection currently is quite bad : each file created is notified severa

[2014-08-29 18:15] k4nar commented on #74
I think we should focus on the main issue first: On Windows, notifications are triggered several times.
Once that's solved, we'll start to investigate what's wrong with the Referee, but it's being rewritten anyway :) .

[2014-08-29 22:02] kolyne-dev opened #80 "Google drive Driver"
hi,
It's just a review about what i made these days:
-Driver architecture rework for more modularity
-Error Handling
After some handtest it's working.
But for the moment I didn't finish to:
-Recode test
-Move Handling
I can't finish delete detection on drive because i need to get the file list on onitu.

[2014-08-30 15:57] k4nar commented on #80
Cool thanks. Deletion detection is not a big issue. Every driver is blocked on that, but we're not sure when it'll be ready (it relies on the new rules).

[2014-09-01 00:38] iloria-iloria commented on #74
in order to investigate why several notifcation are triggered each time i isolated the code responsible of the file detection out of onitu (i should have done that lot earlier in fact). since i didn't have the cross debug from 2 drivers i got a better view of what was going on :
- multiple file notification doesn't trigger when a file is creating, in fight if a single empty file is created, i just

[2014-09-01 16:24] k4nar commented on #74
I don't remember why we are using `FILE_NOTIFY_CHANGE_ATTRIBUTES`. Maybe it's for the case when an hidden file becomes visible (we may not want to address this issue), maybe it's for another reason but I don't see any.

For your second issue, maybe a solution would be to collapse two events for the same file very close in time (like less than 1s). It requires a bit of coding, but it's not that har

[2014-09-09 20:49] #78 closed, assigned to nobody

[2014-09-11 14:30] k4nar commented on #3
We can finally close this issue \o/ ! cf #75

[2014-09-11 14:30] #3 closed, assigned to Scylardor

[2014-09-11 15:19] k4nar opened #82 "Timeouts in the tests of the API"
I'm seeing a lot of timeouts in the tests of the API lately. I thought I had fixed that a few weeks ago.
- https://travis-ci.org/onitu/onitu/jobs/35019974
- https://travis-ci.org/onitu/onitu/jobs/35019423

There is also this bug which is pretty strange :
- https://travis-ci.org/onitu/onitu/jobs/35020568

[2014-09-12 14:56] k4nar commented on #80
Closing it, as we still have the main issue #28 for that.

[2014-09-12 14:56] #80 closed, assigned to kolyne-dev

[2014-09-12 16:10] Scylardor commented on #82
Hard to tell where they come from.

I just made a few minor changes on the API, and fixed some 500 Errors (the third bug seems really linked to that), but nothing else.

I ran the tests several times on my computer, but it didn't timeout (or another error) a single time.

[2014-09-12 17:06] k4nar commented on #82
Ok, we'll see were it goes. Maybe it was nothing :) .

[2014-09-12 17:07] k4nar commented on #65
Fixed by 387899739e104c37ecb3d8b577a402a2ffd52452 .

[2014-09-12 17:07] #65 closed, assigned to k4nar

[2014-09-12 17:09] k4nar commented on #18
We should really discuss that when we meet. This is a rather important issue, and we should take a decision before publishing any release.

[2014-09-12 17:25] Khady commented on #18
The MIT seems to be the best compromise.

[2014-09-14 17:25] k4nar commented on #71
Is it still an issue @Scylardor ? I'm pretty sure that LocalStorage works as expected for that.

[2014-09-14 17:29] k4nar commented on #70
Closing it. I'll open a new issue for adding some tests later.

[2014-09-14 17:29] #70 closed, assigned to Khady

[2014-09-14 17:31] k4nar opened #83 "Add missing tests in the API"
Many important routes are not tested in the API (file listing, entries listing…). We really should have a set of functionnal tests for each of them.

[2014-09-14 17:33] k4nar commented on #66
Blocked by the new rules, which will probably change the way we store files.

[2014-09-14 17:34] k4nar commented on #60
We should add a test for that in LocalStorage.

[2014-09-14 17:36] k4nar commented on #44
@Akiat started working on a it a few weeks ago.

[2014-09-14 17:36] #44 closed, assigned to kolyne-dev

[2014-09-14 17:36] k4nar commented on #43
@entwanne : you still have this task on your hands :) .

[2014-09-14 17:52] k4nar opened #84 "Refactor the tests"
A lot of our current functional tests are for LocalStorage only. Here is a quick overview of what should be done to improve that :
- Make sure every test is done in the two direction (LocalStorage -> Target and Target -> LocalStorage)
- Automatically include the targeted driver's tests
- Move some tests in LocalStorage directory, as they are not useful for other drivers
- Add some flags to disable

[2014-09-14 17:56] k4nar opened #85 "New rules"
Just for the records, we are doing a complete rewriting of the rules with @wapiflapi.

You can find quite a lot of information on that here : http://onitu.readthedocs.org/en/latest/configuration.html .

This is a blocker for a lot of issues.

[2014-09-14 18:38] k4nar opened #86 "Remove errors on close"
When we close Onitu, we sometimes get weird errors. This actually expected and should not be an issue, but we should catch those exceptions and hide them.

Example of error :

[code]

[2014-09-14 19:03] Scylardor commented on #71
Well, I still have the problem.

I just checked with the Dropbox driver and I had the exact same issue :

[code]

The problem precisely is that we don't have a concept such as directories.
As for Dropbox, directories are just 0-sized files (like, IIRC, for Amazon S3), and here's what happens:
- Onitu downloads a 0-size file called 'pouet' (in fact, the directory)
- Onitu tries to download 'pouet/l

[2014-09-14 20:32] k4nar commented on #71
Ok, so it has nothing to do with LocalStorage.

This is a pretty serious issue. Adding directories to Onitu's structure won't change anything, as the point here is that you can't separate a file from a directory on some platforms. We have to find a solution.

[2014-09-14 20:37] Scylardor commented on #71
With Dropbox, the solution is pretty simple : dropbox's file metadatas include a 'is_dir' boolean which will allow us to discard the detected files that actually are directories.

How ever there is no such feature with e.g. Amazon S3 (AFAIK). I think the most feasible thing would be to ignore 0-size files (after all, if they're empty, is it really important that they don't get transferred ?)...

[2014-09-14 20:57] k4nar commented on #71
I don't really mind not detecting empty files on S3. Does S3 even handle that ?

[2014-09-14 21:27] Scylardor commented on #71
Well, S3 hasn't any concept of directory either. Their file tree is totally virtual, which means for example you can have /root/test/pouet in your S3 bucket without even having a directory called 'test' in it !

But it still lists all files, even the empty ones (including the directories, but you haven't any way to know which are directories and which are empty regular files). I think that we can

[2014-09-14 21:49] k4nar commented on #71
Ignoring empty files seems to be the saner choice here.

[2014-09-14 21:52] Khady commented on #83
If you mean the route `/files` for the file listing, I added a test in the commit 5ac435135

Is it enough?

[2014-09-14 21:54] k4nar commented on #83
Well, are all the routes well tested ? I just took a quick look a the tests, but it doesn't seem so.

[2014-09-14 21:57] Khady commented on #83
I mean, is it enough to test the file listing? I don't check all the informations that are send when we call `/files` because I can't call escalator to get the access to the metadata.

We should add tests for `/entries` and `/entries/<name>`.

[2014-09-15 06:55] k4nar commented on #56
Nominating it for P-Medium.

We will soon start to communicate about Onitu, and clearly not being OSX-compatible is anything but a good idea.

[2014-09-15 08:22] kolyne-dev commented on #56
After searching on the internet, only hfs+ have a timestamp on file information so FSEvent and kqueue can receive event separate by milisecond.

[2014-09-15 08:58] k4nar commented on #56
@azokal could you remind me why that's relevant ? I don't remember what were our issues regarding OSX.

[2014-09-15 11:12] kolyne-dev commented on #56
Louis has a issue when a file has two or more change in one second. He just receives one notification.

[2014-09-15 11:18] Khady commented on #56
I think we have removed the code in which the date was used. If I remember
correctly, the detection works pretty well. But onitu was stuck
somewhere in the
referee after a notification. I have not found the problem. But we can try
again. Much has changed since 4 months.

[2014-09-16 20:04] #49 closed, assigned to lenormf

[2014-09-16 20:13] k4nar commented on #62
We need a volunteer for this one.

[2014-09-16 20:17] k4nar commented on #68
Any volunteer ?

[2014-09-16 22:05] k4nar commented on #84
Also, we should try to use Pytest's fixtures when possible. More information here : http://pytest.org/latest/fixture.html and here : http://pytest.org/latest/yieldfixture.html

[2014-09-17 22:38] Khady opened #87 "Glacier"
We already support amazon s3. But there is another service from amazon that seems interesting: [glacier](https://aws.amazon.com/fr/glacier/). Should we add the support of glacier in Onitu?

[2014-09-17 23:03] Khady commented on #56
My first issue is with plyvel. I can't instal the package on my machine. Will try to contribute to the project.

[2014-09-18 10:55] Scylardor commented on #87
I don't know Glacier (only the name), but the day we try to support it, it may be worth rolling back to boto, now that they're _en route_ to Python 3 compliance. Boto is the package for all Amazon services, not only S3, explaining why it's so heavy of a dependency.

[2014-09-18 14:53] k4nar commented on #87
Glacier was on the list of required drivers on the Wiki. IIRC, it's the exact same protocol than S3, only the URLs and the delays change.

One very interesting thing with that driver is that it can take hours to get a relatively small file. Onitu has been design to handle that without any issue, so it would be the occasion to see if that actually works :) .

@Scylardor : I think that tinys3 should

[2014-09-18 15:11] Scylardor commented on #62
I'm on it.

[2014-09-18 15:15] k4nar commented on #87
Well, I thought boto had some C dependencies, but it doesn't seem so. So maybe if boto is Python 2/Python 3 (and PyPy ?) compatible, it could be ok to use it.

[2014-09-18 15:16] Khady commented on #56
On OSX 10.9 (I can't test for the previous version) you should export some env var before the `pip install -r requirements_all.txt`

[code]

[2014-09-18 15:34] Khady opened #88 "Dropbox: can't retrive the access token"
[code]

[2014-09-18 16:22] Scylardor commented on #88
Fixed in 0d36ed7975cf98836e3e20842d72a40d4c40375a .

Besides, we should specify somewhere (probably in the README) that due to this part of the Dropbox API being incompatible with Python 3, this script should always be ran with Python 2.

[2014-09-18 16:23] #88 closed, assigned to nobody

[2014-09-18 16:40] Scylardor commented on #62
So far I think 0d36ed7975cf98836e3e20842d72a40d4c40375a fixed it.

Can someone confirm ?

[2014-09-18 17:00] k4nar commented on #62
Could you break your commit into pieces ?

[2014-09-18 17:53] Scylardor commented on #62
As this fix isn't very stable, I didn't include it in the new commit split.

It should be done at a deeper level of Onitu.

[2014-09-21 09:19] k4nar opened #89 "Handle partial updates in LocalStorage"
We should be able to detect that a chunk of a file has changed (essentially for big files). If it happens, we should only update this chunk on the services supporting that.

The main issue is, how to detect that ? After some reflection, the best solution IMO is to stock a hash of all the chunks in a file (with a given granularity), and check those hashes when an update happens.

[2014-09-22 20:07] Khady commented on #83
Added 2 tests in 58833bc

All the routes are tested. We should now improve the tests.

[2014-09-23 12:00] k4nar commented on #83
What could be improved ? I mean, except the failures we get on Travis.

[2014-09-23 20:22] k4nar commented on #18
Ok for MIT (as agreed in our last meeting).

[2014-09-23 20:22] #18 closed, assigned to nobody

[2014-09-23 21:18] k4nar commented on #83
After taking a quick look to the tests, it still lacks some tests, like what happen if we try to get an entry which doesn't exists. If this behavior is not documented, we should document and implement it.

[2014-09-25 15:20] Khady opened #90 "Hubic driver raises exceptions"
[code]

My setup

[code]

[2014-09-25 18:10] Scylardor opened #91 "OneDrive"
I noticed that more and more, Microsoft invites its users to use their cloud storage platform, OneDrive, may it be by their Office 365 offer or other things.

Since they provide a [REST API](http://msdn.microsoft.com/en-us/library/dn659752.aspx), I think we could study it in order to decide if that's suitable for use with Onitu.

[2014-09-25 20:56] #83 closed, assigned to Khady

[2014-09-25 21:04] Khady opened #92 "Get stats about the external services"
We can ask for local stats about a driver with a call to the route `/api/v1.0/entries/<name>/stats` and get a few informations.

[code]

I would like to have more stats, not about the entry itself, but about the remote service. Like how many free gb are available. The informations wouldn't be the same for every drivers but it shouldn't be a problem.

[2014-09-25 21:06] k4nar commented on #91
Oh yeah of course that would be great. It was listed on our "desired" list of drivers (but I thought it was called SkyDrive, don't know why).

[2014-09-25 21:07] Khady commented on #91
The name changed. They changed a lot of things recently. But I agree, it is one of the most important driver that we should add.

[2014-09-25 21:08] Khady commented on #90
I only have the problem with an empty DB.

[2014-09-25 21:09] k4nar commented on #92
Yeah, we should add a handler for asking a service how much free space it has. Maybe we could also get other information, but I don't see what right now.

[2014-09-25 21:18] Khady opened #93 "Webdav"
The webdav driver is required by our CDC2

[2014-09-25 21:20] Khady commented on #55
The onechunk transfert is now available. It should help to finish the driver.

[2014-09-25 22:09] Scylardor commented on #28
I'd like to know on where are we now about this. This driver has high priority and I'd like it to be merged ASAP.

As to what I understood, the driver was rewritten and it works much better now.

Can you provide us some news about it @azokal ?

[2014-09-27 15:46] Akiat commented on #90
I'm not able to reproduce this bug, someone else has this issue ?

[2014-09-27 19:47] Khady commented on #28
Is @azokal alive?

[2014-09-28 01:17] Khady opened #95 "Crash during the tests on OSX"
I have a problem with the tests on OSX.  During the est_all_active, py.test is crashing and I don't have any trace or feedback about the problem or the results of the tests. Do you have any idea about this?

[code]

[2014-09-28 12:44] k4nar commented on #95
Could you try with `py.test -vsx tests/test_startup.py` ? Also, check that you don't have Tornado 4.0.

[2014-09-28 12:46] Khady commented on #95
I have tornado 4.0.2

If I launch only the tests in test_startup, everything is fine.

[2014-09-28 12:47] k4nar commented on #95
Downgrade Tornado to `3.x` and try again.

[2014-09-28 13:23] Khady commented on #95
Same problem with tornado 3.2.2.

[2014-09-28 13:44] k4nar commented on #95
And with `py.test -vs` ?

[2014-09-28 13:51] Khady commented on #95
[code]

[2014-09-28 15:14] k4nar commented on #95
Ok, I would guess that we fail cleaning some things on OSX between each test. You should try to monitor the number of Python processes you see during the tests.

[2014-09-28 16:47] Khady commented on #95
I tried to search the python processes with ps during the test and saw nothing weird.

[2014-09-28 17:14] k4nar commented on #95
You can always set your ulimit for open file to something higher, but I think there is something weird happening here.

[2014-09-28 18:03] Akiat opened #96 "Non-ASCII characters are not supported"
When I call plug.get_metadata(filename) with a filename which contains non-ASCII character, I get this exception:

Exception in thread Thread-8:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 551, in __bootstrap_inner
    self.run()
  File "onitu/drivers/evernote_driver/evernote_driver.py", line 136, in run
    self.check_changes()
  File "onitu/drivers/evernote_

[2014-09-29 08:46] kolyne-dev commented on #28
I have some problem with path management.
I push a version with this problem.

[2014-09-29 15:49] manny42 opened #97 "OAuth automatisation"
I would like to know how you would like to integrate the OAuth authentication in Onitu.

Should I make a method to automatically open the link that we may receive, including the callback method on the API once the acceptation has been given?

And what should I do once I get the callback on the API, do I send the authentication elements to the database or back to the driver?

[2014-09-30 20:03] entwanne opened #98 "Specific driver for testing"
We currently have a strong dependency with _LocalStorage_ in the tests.
It is not really reliable because this driver can crash, or system events detection can be very slow.
Thus we need to develop a new driver just for testing, which stores files in memory and can simply be controlled by Onitu tests suit.

[2014-09-30 21:52] Khady commented on #73
We should find a solution or display a **BIG WARNING** to the user.

[2014-10-05 18:38] k4nar commented on #4
Fixed by #100 .

[2014-10-05 18:38] #4 closed, assigned to k4nar

[2014-10-05 18:40] k4nar commented on #55
We will soon have a SFTP driver (cf #99), but we should still have a FTP driver IMO.

[2014-10-05 18:42] k4nar commented on #71
@Scylardor : Is it fixed somehow ?

[2014-10-05 18:42] Khady commented on #55
As I said during the meeting, I agree that we need a FTP driver. But a one way driver may be enough.

[2014-10-05 18:42] k4nar commented on #82
Do we still have timeouts lately, or has it been fixed ?

[2014-10-05 18:46] k4nar commented on #82
I don't see any timeout in past two weeks on develop, closing it.

[2014-10-05 18:46] #82 closed, assigned to nobody

[2014-10-05 18:47] Khady commented on #82
It seems to work on travis. But we didn't change anything, so it's weird. I added some debug to track the problem in the future.

[2014-10-05 20:40] Scylardor commented on #71
As far as I'm concerned I think this is fixed.

On Dropbox the fix was easy.

On S3, the main change is that if we find an empty file in the change checking thread, we search for files with names beginning with this file's name + '/' (meaning it's a folder containing things). The folder file (not the files in it, of course) is skipped if there are files in it. Otherwise it is considered a regular

[2014-10-05 22:18] k4nar opened #101 "Zombies"
Sometimes when we kill Onitu the main process dies but some processes are not correctly killed. Those processes can be the Referee, drivers or Escalator.
This happens essentially when Onitu is killed very early, but it might be a side effect of my methodology.

Anyway, I don't understand why it could happen. It might be an error related to Circus.

[2014-10-05 22:19] k4nar commented on #71
Well, as long as we have a test for it I don't see the issue.

[2014-10-05 22:19] #71 closed, assigned to Scylardor

[2014-10-05 22:26] k4nar commented on #101
Just a quick tip to debug : The following command won't start onitu unless there are no zombie left (assuming your virtualenv is called onitu) :

[code]

[2014-10-05 22:44] k4nar commented on #101
I fixed some errors due to a `ConflictError`, but I think Circus is not always killing every processes. I'll check on that later.

[2014-10-07 14:16] Scylardor commented on #73
This is going to be one of my tasks of the week.

We only have to set overwrite=False on [this line](https://github.com/onitu/onitu/blob/develop/drivers/dropbox/onitu_dropbox/dropbox_driver.py#L121), and Dropbox will generate a non-case conflicting name on the fly.

The problem I can foresee with that solution is that it may generate a name already taken by another file, maybe on another service l

[2014-10-07 14:33] k4nar commented on #73
I think we should think about that matter beyond Dropbox. The same issue can appear on other services too.

[2014-10-09 11:23] k4nar commented on #98
This drivers should accept some options, like whether he uses chunked upload or not.

The main issue is that with the new architecture it's not that easy to add a driver without polluting the production environment (this driver should NOT be available in production).

[2014-10-09 16:40] Khady opened #102 "Configure appveyor to have CI on Windows"
[http://www.appveyor.com/](AppVeyor) is a travis-like for windows.

http://help.appveyor.com/discussions/kb/4-show-multiple-statuses-in-github-pull-requests

[2014-10-10 18:03] k4nar commented on #101
I think that 3901177 fixed pretty much all the issues. If someone sees any zombie, please let me know.

![image](https://cloud.githubusercontent.com/assets/2692721/4596833/90e762ec-50a7-11e4-8bc0-e56f3877b697.png)

[2014-10-10 18:03] #101 closed, assigned to k4nar

[2014-10-10 18:30] k4nar commented on #86
fb75d01, 7275f64, 83fafd2, 616cb47, ae5dc50 and add594a should have fixed that.

[2014-10-10 18:30] #86 closed, assigned to k4nar

[2014-10-10 20:19] k4nar opened #103 "Move all the sockets to IPC"
We already use IPC for events, but some sockets are still using TCP. This is unnecessary and we must carry the URIs all over the application.

Of course on Windows we still need to use TCP as IPC are not supported.

[2014-10-13 08:29] kolyne-dev commented on #28
For the moment I have a working driver with python 2.7.
I need to check compatibility with python 3.X.
Still have some improvement to do:
- [x] Secure all folders adding.
- [ ] Detect move on google drive.
- [ ] Detect all changes when onitu was off.

[2014-10-14 02:27] iloria-iloria commented on #74
I finally was able to get a working version of the local storage on windows (30e2bf3), i had to manually check quite a few things, it needs more testing and i need to clean the code, but i've been able to work around the issue i got :
- i'm collapsing all write notification for a file until i don't get notification for this file for 1 sec. this is necessary for small file where os.access(abs_path,

[2014-10-16 14:26] #103 closed, assigned to k4nar

[2014-10-16 17:56] k4nar commented on #73
Fixed by 016608d2d91365408808715b9ed199f96c87cd12.

[2014-10-16 17:56] #73 closed, assigned to nobody

[2014-10-16 17:59] k4nar commented on #74
I guess we can close this one now. #64 will be closed when your work will be merged.

[2014-10-16 17:59] #74 closed, assigned to iloria-iloria

[2014-10-16 17:59] k4nar commented on #90
Any news on that one ?

[2014-10-16 18:02] k4nar commented on #95
This is due to the way we handle notifications in the Referee. `Referee.notify` create a new socket, send a notifications to the drivers then close this socket. On Linux this doesn't cause any trouble as the socket is properly deleted, but on OSX it doesn't seem to be the case.

One solution would be to have one socket to notify the changes, connect to all the targeted drivers in `Referee.notify`

[2014-10-16 18:05] k4nar commented on #97
We answered those questions in a previous meeting.

[2014-10-16 18:05] #97 closed, assigned to k4nar

[2014-10-17 12:06] Scylardor opened #104 "Folder isn't removed on a delete or a move"
I have this problem with the Dropbox driver for instance.

If I have a local storage and Dropbox synced together and that I remove a local folder, on Dropbox the files in it are actually deleted, but the folder isn't.

The same happens when we move a folder : The new folder is created and all the files are moved into it, but the origin folder isn't deleted.

This is bound to the way Onitu deals wi

[2014-10-21 13:46] iloria-iloria opened #105 "[windows] renaming/updating file to long name failing"
I just came accross a problem, on windows filepath is limited to a certain size (255 if i remember well) and when we rename a file to a long name, it can happend that it get to this limit.

 this is a problem on onitu when we rename/update file, onitu use a tmp file which keep the name and add a suffix to it, this is failling because we go above the path size limit when we do that.

I don't really

[2014-10-21 13:53] k4nar commented on #105
Actually on Windows I'm not sure that we need this prefix. As Windows handle temporary files, we should create it as one without any prefix (well, one prefix could be needed, but it can be short, like `.tmp`).

As for the 255 characters limit, there is nothing we can do about that, except logging a nice error when it happens.

[2014-10-25 10:09] k4nar commented on #98
I have something working on this branch : https://github.com/onitu/onitu/tree/test_driver
It passes all tests (I tested it literally hundreds of times), but for the moment we can't customize the available handlers via env variables. I think we will add that later anyway, when we will refactor the tests.

[2014-10-25 10:10] #98 closed, assigned to nobody

[2014-10-27 23:43] k4nar commented on #90
@Khady : Do you know if this issue is still present ?

[2014-10-28 20:49] k4nar opened #107 "Flickr: Store photos in photosets"

[2014-10-28 21:16] Khady commented on #90
I tried last week and had no problem.

[2014-10-28 22:03] Akiat commented on #107
The first version of this enhancement is pushed. cf https://github.com/onitu/onitu/commit/4054f1b71a680fbba6a6533461b7cdc6baa5e814

[2014-10-28 22:03] #107 closed, assigned to Akiat

[2014-10-29 08:07] k4nar commented on #90
I'm closing it, we will re-open it if we see that problem again.

[2014-10-29 08:07] #90 closed, assigned to Akiat

[2014-10-31 14:57] k4nar commented on #95
Fixed by https://github.com/onitu/onitu/commit/889402e21343365dfa29e3e752dd046afcefb590.

Anyway, I still don't understand why the sockets weren't closed. Maybe you should try to build a simple use case and report it to ZeroMQ.

[2014-10-31 14:57] #95 closed, assigned to nobody

[2014-11-02 19:03] k4nar opened #109 "API: Return errors according to the accepted content-type"
Currently the API always returns the errors as HTML. We should return it in the right format.

[2014-11-14 11:39] k4nar opened #112 "Race-Condition in the Referee's notification"
The Referee write notifications for services in the DB using the fid as the key. When the Dealer reads an event, it deletes the key only after having started to handle the event. This can be an issue if the Referee has sent another event in the meantime.
Using the fid as a key for events is a good idea, because if the service is not listening we don't fill-up the db with events for the same file,

[2014-11-26 09:36] k4nar opened #114 "Retry failed operations in the Worker"
A driver should be able to raise a `TryAgain` exception telling the dealer to retry the current operation, with exponential backoff.
We can't just sleep in the worker as it would consume a thread (and quite a lot of memory), so we must store it in the db.
One solution would be to use the scheduled timestamp in the key to make a range request with the current solution. Another would be to edit the

[2014-11-26 09:38] k4nar opened #115 "Handle priority for the drivers"
The drivers should define a `priority` key in there manifest, overridable by the user. This priority will be used by the Dealer to select the best source when downloading a file.

[2014-11-27 14:37] k4nar opened #116 "Print Stacktrace if debug is True"
We try to hide some errors in order to provide informative messages for the user, but when we are debugging (like in the tests) those are not very helpful. We should log the full stacktrace when launched with `--debug`.

[2014-11-27 20:48] #62 closed, assigned to k4nar

[2014-11-27 20:48] #96 closed, assigned to k4nar

[2014-11-27 23:27] #84 closed, assigned to entwanne

[2014-11-28 15:05] k4nar opened #117 "Use config directory for the setup and the dbs"
Onitu should create a config directory according to the system's rules and fetch the setup and the dbs here by default.

[2014-11-30 17:38] k4nar opened #118 "Dropbox: Use longpoll_delta"
We have a timer that checks changes on Dropbox. I think this could be replaced by [longpoll_delta](https://www.dropbox.com/developers/core/docs#longpoll-delta). The Python SDK has a method for that :  https://www.dropbox.com/developers/core/docs/python#DropboxClient.longpoll_delta

[2014-11-30 17:46] k4nar opened #119 "Dropbox: Be cleverer when using delta"
Dropbox has a very good delta function in its API. However, we should be careful when using it:
- [x] During the first connection (that is, if we don't have a cursor in the db), we should only get the current cursor and ignore all the events, as they might refer to files which we aren't aware of (like a deletion or a move). This means we must use another solution to get all the current files insid

[2014-12-06 16:25] k4nar commented on #119
Fixed by b11c3a9dac08db44be7a47dfd3ba9de9a546b641 and 80167cc1633dd1e1a403e4dd89f741a815e6eb74.

[2014-12-06 16:25] #119 closed, assigned to Scylardor

[2014-12-06 16:26] k4nar commented on #118
Fixed by 80167cc1633dd1e1a403e4dd89f741a815e6eb74 and b11c3a9dac08db44be7a47dfd3ba9de9a546b641.

[2014-12-06 16:26] #118 closed, assigned to Scylardor

[2014-12-08 09:05] k4nar commented on #66
Note: Windows also needs this, as when a directory is deleted we can't list its content.

[2014-12-10 18:24] k4nar opened #120 "Handle files created then quickly moved"
If a file is created and then moved before it has be interpreted by the other services, a file with the new name should be created.
This is essentially an issue with LocalStorage, as most text editors create a file and move it when saving the document.

[2014-12-14 13:00] k4nar commented on #104
The best option would be, for drivers who can handle that, to send a special event meaning "delete this directory if its empty". This event should be sent _only_ if the directory was deleted, instead of the files inside (`rm -r dir` vs `rm dir/*`).

[2014-12-15 15:52] #85 closed, assigned to k4nar

[2014-12-15 15:56] k4nar opened #121 "Support embedded folders"
Embedded folders, such as the following, are not supported currently:

[code]

[2014-12-15 15:58] k4nar opened #122 "Add modes for the folders"
According to the documentation, we should be able to set modes (read only, read and write or write only) for a folder, at the service level.

[2014-12-15 15:59] k4nar commented on #66
It's not blocked anymore since the new rules got merged, let's do it !

[2014-12-23 20:55] k4nar opened #124 "Drivers: watch each folder instead of the root"
We should use a handler to tell the driver which folders they should monitor.

[2014-12-26 00:06] k4nar commented on #115
Note that the Referee shouldn't tell from who the service should get the file, but the `TransferWorker` should get the information (from the Referee ?). If we don't do that the selected source will always be the only up-to-date source, but it might change when the transfer is actually started.
This would also improve the situation when we move a file and the `move` handler is not present.

[2015-01-02 13:40] #58 closed, assigned to k4nar

[2015-01-02 13:40] #66 closed, assigned to k4nar

[2015-01-02 17:04] #117 closed, assigned to k4nar

[2015-01-03 15:32] #116 closed, assigned to nobody

[2015-01-03 15:32] k4nar commented on #116
The unexpected exceptions are now logged as errors (`--debug` doesn't change this behavior).

[2015-01-03 16:01] k4nar opened #125 "test_update_size failing on Travis"
It seems to be only occurring with Python 3. Cf https://travis-ci.org/onitu/onitu/jobs/45124300, https://travis-ci.org/onitu/onitu/builds/45679926 and https://travis-ci.org/onitu/onitu/builds/45124297.

The weird part is:

[code]

I can't reproduce it.

[2015-01-03 16:23] Khady commented on #125
I had the error with py27: https://travis-ci.org/onitu/onitu/jobs/44990857

[2015-01-03 16:32] #112 closed, assigned to k4nar

[2015-01-03 17:03] k4nar commented on #48
Closing it, we will open a more up-to-date issue when it's time.

[2015-01-03 17:03] #48 closed, assigned to nobody

[2015-01-03 17:07] k4nar commented on #69
As a side effect https://github.com/onitu/onitu/commit/5ca9b1d9d05bc329dadebfd0fe1726f02b798369 fixes this.
A more bullet-proof solution might come later.

[2015-01-03 17:07] #69 closed, assigned to k4nar

[2015-01-06 22:34] k4nar commented on #125
Another one with Python 3.4: https://travis-ci.org/onitu/onitu/jobs/46129765

[2015-01-11 21:06] k4nar commented on #125
Again: https://travis-ci.org/onitu/onitu/jobs/46662051

Still no idea of what's going on. Maybe I should split the test in two in order to see if that helps.

[2015-01-13 18:06] k4nar commented on #125
Ok, this one doesn't even make sense: https://travis-ci.org/onitu/onitu/jobs/46881833
B gets a chunk of size 3, then ask for another one, get an empty one and aborts.

[2015-01-14 09:42] #60 closed, assigned to nobody

[2015-01-14 09:42] #124 closed, assigned to nobody

[2015-01-15 17:56] k4nar commented on #102
Some progress in the `appveyor` branch.

[2015-01-16 16:48] k4nar commented on #125
I don't see the error on Travis since 0289c08, I guess that fixed it. I still don't get where this error came from though.

[2015-01-16 16:48] #125 closed, assigned to nobody

[2015-01-16 16:49] k4nar commented on #120
Fixed by ffcc74c6c4dc23658e19fcb0ac3fa6cb250bae80.

[2015-01-16 16:49] #120 closed, assigned to k4nar

[2015-01-16 17:09] k4nar opened #128 "Serve facet through the API"
The API should serve facet. This means Onitu should bundle facet files.

[2015-01-17 21:26] entwanne opened #130 "Files deleted on startup when editing rules"
Launch a clean Onitu with the following setup:

[code]

Then, create a file in A

[code]

Close Onitu and edit the setup to have:

[code]

Relaunch Onitu, instead of having `file` copied to `B`, it is removed from `A`.

[code]

[2015-01-18 12:10] k4nar commented on #130
Thanks for the report, I'll fix it as soon as possible.

[2015-01-18 12:20] k4nar commented on #121
As of c0140e5, embedded folders are forbidden. As far as I can see, they are not very useful and lead to unexpected behavior. Cf this commit for an explanation: f3a28d5.

[2015-01-18 12:22] #121 closed, assigned to k4nar

[2015-01-18 18:45] k4nar commented on #130
Should be fixed, however I'll try to write a test for it.

[2015-01-18 18:45] #130 closed, assigned to nobody

[2015-01-19 10:36] k4nar opened #132 "test_updating_file failing on Travis"
Sometimes `test_updating_file` fails on Travis: https://travis-ci.org/onitu/onitu/jobs/47502281

[2015-01-20 12:36] k4nar opened #133 "Error with incomplete setup"
This setup is not parsed correctly, but no error is logged:

[code]

[2015-01-21 09:30] #109 closed, assigned to nobody

[2015-01-21 10:47] wapiflapi commented on #133
Fixed in 779c19827105c8f86475464e9dddb2e0a34a540c.

[2015-01-21 10:47] #133 closed, assigned to nobody

[2015-01-21 13:24] wapiflapi commented on #34
Oauth2 looked complicated. It was decided to implement a simpler authentication mechanism as the need for delegation and use by third parties isn't clear (yet). The simpler version of the authentication was merged in #134.

[2015-01-21 13:24] #34 closed, assigned to wapiflapi

[2015-01-22 15:28] #122 closed, assigned to k4nar

[2015-01-22 20:23] k4nar commented on #128
Fixed by 64356f1901f9fb3226f85d0cb9768acbd8a9faad.

[2015-01-22 20:23] #128 closed, assigned to nobody

[2015-01-22 20:25] k4nar commented on #47
Actually this is a pretty bad idea. With #134 you will be able to define users with passwords in your setup, that should be enough.

[2015-01-22 20:25] #47 closed, assigned to wapiflapi

[2015-01-23 19:07] k4nar commented on #93
Closed by fd6139d0ceaae759afeba0be437edee977a115a4.

[2015-01-23 19:07] #93 closed, assigned to nobody

[2015-01-23 23:10] ambroisemaupate opened #139 "local_storage driver on Mac OS 10.10 does not work."
[code]

And when I try to install `pyinotify` :

[code]

[2015-01-23 23:30] k4nar commented on #139
Hi, thanks for the feedback.

We have a Pull-Request open for that: #111. OSX wasn't a priority at first, but now this is definitively a blocker.

[2015-01-24 17:31] wapiflapi opened #140 "Crash if a driver's folder list is empty."
During the demo for the TAF5 we encountered a problem likely due to a driver not being configured for any folder at all. This caused `folders` to be None instead of a string or dict.

[2015-01-26 17:58] k4nar opened #141 "Better way to get a file"
Getting a file in Onitu can be tricky. Right now we just get the source using `uptodate[0]` and wish that it's available.

This can be the source of a lot of troubles as:
- The source could not be available at this time
- The source could have an issue getting the file
- The source could be slow (SFTP vs LocalStorage for example)
- The source could shut-down during the transfer

In order to preven

[2015-01-26 18:03] k4nar opened #142 "Don't accept updates if service is not already up-to-date."
At the beginning of the project we choose to handle the case where an update happen on a service when the given file is not up-to-date. This means that B could start downloading "foo" from A, delete "foo", and the file would be deleted on A.

However, this scenario causes many troubles and is not a requirement. For example if A updates "foo" before B is started, B will see it's missing "foo" so it

[2015-01-29 20:05] k4nar commented on #142
After some thoughts and experiments, I think we should only reject events from not up-to-date services when deleting or moving a file. Updating a file while not being up-to-date is not a major issue, and is actually very helpful in some scenarios.

[2015-01-30 18:18] k4nar commented on #142
Fixed by 41bd8f6ae0b4703b3f61d8cb79afa6b813ebff21.

[2015-01-30 18:18] #142 closed, assigned to nobody

[2015-01-30 18:19] k4nar commented on #140
Should be fixed as a side-effect of #134 .

[2015-01-30 18:33] k4nar commented on #132
I ran the tests hundred of times and never reproduced it.

[2015-02-03 21:09] wapiflapi opened #143 "Flickr driver creates folder multiple times."
When uploading a bunch of photos to flickr and the target folder doesn't exist yet, the driver attempts to create it. Since this is done in parallel for the different photos and because flickr allows for it we end up with multiple folders with the same name.

**Reproduce:**
Sync flickr with local storage, start onitu with a large (10+) number of new photos in local storage that will be synchronize

[2015-02-06 20:23] Scylardor commented on #143
Commit 98961e336aae0afd5ec735c98b9057b85e6a0723 is supposed to fix it.

Before the change, I reproduced the bug at first try. After the fix, I tried several times and never had the issue again.

I'm closing, please re-open if the bug shows up again.

[2015-02-06 20:23] #143 closed, assigned to Scylardor

[2015-02-10 21:18] k4nar opened #144 "Flickr: Handle dynamic album creation"
In Flickr, a folder's path is used as an album name. This is fine, but we could also handle another scenario. If folder doesn't have a path, photos should be sent to the photostream, and new directories should create an album.
Nested directories should not create an album.

For example:

[code]

This setup should create the album `my-album`. Then, any photo in the `photos` folder should be sent to

[2015-02-11 17:12] k4nar commented on #141
Fixed by bdc6837.

We now have a Brocker, which is a separate process handling chunk and file requests. It is fully asynchronous, and deal with concurrency nicely, as it will only make one request if two services asks for the same chunk or the same file in the meantime. Caching is not implemented yet.

The source for the driver is selected using its velocity, and the next source is chosen if an er

[2015-02-11 17:12] #141 closed, assigned to nobody

[2015-02-11 17:14] k4nar commented on #115
Fixed by bdc6837.

Drivers can now define their "velocity", which is used to determine the service priority. This option can be overridden by each service.

[2015-02-11 17:14] #115 closed, assigned to k4nar

[2017-07-29 14:22] slapglif commented on #1
inside of docker containers, particularly kali - the problem is that the redis-server service is not running, the issue is due to a number of permission errors due to the default configuration and stripped down nature of containers.

assuming you have installed redis, just be sure you have all of the packages anyway -

`apt-get install redis*`

The problem is fixed with a simple:

`chmod 700 /var/